<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/list.html">全部文档</a></li>
    <li><a href="{{ site.baseurl }}/about.html">关于作者</a></li>
    <hr />
    <li>最近文章</li>
    {% for post in site.posts limit: 8 %}
    <li><a style="font-size:14px;width:100%;padding-right:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-spacing:10px" 
        href="{{ site.baseurl }}{{ post.url }}"><i style="display:inline;" class="fa fa-bookmark"></i> {{ post.title }}</a></li>
    {% endfor %}
    <hr/>
    <div id="social-wrapper">
      <li><a href="{{ site.github }}"><i class="fa fa-github-square"></i> GitHub</a></li>
    </div>
  </ul>
</div>
